{% extends 'cal/base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block content %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
    <a class="btn btn-info right" href="{% url 'cal:event_new' %}"> New Event </a>
</div>

<!-- Custom calendar rendering -->
{{ calendar }}

<!-- Displaying Events from API -->
<div class="events-list">
    <h3>Events:</h3>
    <ul>
        {% for event in events %}
        <li>
            <strong>{{ event.name }}</strong><br>
            Start: {{ event.start_time|date:"Y-m-d H:i" }}<br>  <!-- Ensure this line is correct -->
            {% if event.end_time %}
            End: {{ event.end_time|date:"Y-m-d H:i" }}<br>  <!-- This will only show if end_time exists -->
            {% endif %}
            <small>Description: {{ event.short_description }}</small>
            <br>
        </li>
        {% empty %}
        <li>No events available for this month.</li> <!-- Message if there are no events -->
        {% endfor %}
    </ul>
</div>

{% endblock %}