{% extends 'cal/base.html' %}

{% block title %}Calendar{% endblock %}

{% block content %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
    <a class="btn btn-info right" href="{% url 'cal:event_new' %}"> New Event </a>
</div>

<h2 class="text-center">{{ year }}-{{ month }}</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
    </thead>
    <tbody>
        {% for week in calendar %}
            <tr>
                {% for day in week %}
                    <td>
                        {% if day %}
                            <strong>{{ day.day }}</strong>
                            {% if day.date in events_by_date %}
                                <ul>
                                    {% for event in events_by_date[day.date] %}
                                        <li>
                                            <strong>{{ event.name }}</strong><br>
                                            Start: {{ event.start_time|date:"Y-m-d H:i" }}<br>
                                            <small>Description: {{ event.short_description }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% else %}
                            <td></td>  <!-- Empty day cell -->
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}